# Ignore most files made by `bootstrap'.
*Makfile.in
aclocal.m4
autom4te.cache
config.h.in
configure
*top_level.in

# Ignore other files.
config.log
config.status
*.Po
*.Plo
*.la
*.lai
*.a
*.lo
*.o
*.so.*
*.so
*.out
.depend
*.pyc
*~

# Ignore vim swap files
*.swp
*.swi
*.swo
